In [37]:
#Do library and methods import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import GridSearchCV
from sklearn import svm
!pip install imbalanced-learn #For imbalanced dataset
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.7/dist-packages (0.8.1)
Requirement already satisfied: scikit-learn>=0.24 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.7.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24->imbalanced-learn) (3.1.0)

In [38]:
#Load the drive helper and mount
from google.colab import drive

#This will prompt for authorization
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [39]:
#go to the relevent directory that spam.csv have
%cd /content/drive/MyDrive/MLOM_Assignment2

/content/drive/MyDrive/MLOM_Assignment2

In [40]:
#Read the dataset
df_Spam = pd.read_csv("spam.csv")

In [41]:
#To print the first 5 rows
df_Spam.head()

  Label                                          EmailText
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [42]:
#To print the last 5 rows
df_Spam.tail()

     Label                                          EmailText
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham             Will Ã_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

In [43]:
#Prints information about the Dataset
df_Spam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Label      5572 non-null   object
 1   EmailText  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [44]:
#Copy the dependent variable column to 'Y' and independent column to 'X'
X = df_Spam['EmailText'].values
Y = df_Spam['Label'].values

In [45]:
#Create training and test sets
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size=0.2, random_state=0)

In [46]:
#Coverting the String in to Integer
cv = CountVectorizer() 
X_train = cv.fit_transform(X_train)
X_test = cv.transform(X_test)

In [47]:
#To overcome class imbalance by using SMOTE
smote = SMOTE()
X_train_smote, Y_train_smote = smote.fit_resample(X_train,Y_train)
X_test_smote, Y_test_smote = smote.fit_resample(X_test,Y_test)

print(X_train_smote.shape, Y_train_smote.shape)
print(X_test_smote.shape, Y_test_smote.shape)

(7752, 7619) (7752,)
(1898, 7619) (1898,)

In [48]:
#Support Vector Machine algorithm
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0)
classifier.fit(X_train_smote, Y_train_smote)

SVC(random_state=0)

In [49]:
#Accuracy
print(classifier.score(X_test_smote,Y_test_smote))

0.9515279241306639

In [50]:
print(X_train)

  (0, 4711)	2
  (0, 6732)	1
  (0, 3689)	2
  (0, 3827)	1
  (0, 3422)	2
  (0, 3203)	1
  (0, 906)	1
  (0, 6881)	1
  (0, 2465)	1
  (1, 898)	1
  (1, 3582)	2
  (1, 2605)	1
  (1, 6698)	1
  (1, 4761)	1
  (1, 3123)	1
  (1, 6814)	1
  (1, 7269)	1
  (1, 3839)	1
  (1, 2775)	1
  (1, 4429)	1
  (2, 3689)	1
  (2, 7289)	1
  (2, 7233)	1
  (2, 2973)	1
  (2, 4587)	1
  :	:
  (4454, 5827)	1
  (4454, 3819)	1
  (4454, 2301)	1
  (4454, 4914)	1
  (4454, 7235)	1
  (4455, 7552)	1
  (4455, 7579)	1
  (4455, 3302)	1
  (4455, 4045)	1
  (4455, 2277)	1
  (4455, 4120)	1
  (4455, 5713)	1
  (4455, 4187)	1
  (4455, 6335)	1
  (4456, 6814)	2
  (4456, 7579)	3
  (4456, 3466)	1
  (4456, 6639)	1
  (4456, 814)	1
  (4456, 6581)	1
  (4456, 7457)	2
  (4456, 961)	1
  (4456, 3324)	1
  (4456, 2141)	1
  (4456, 6436)	1

In [51]:
#use the testing data to check weather the prediction correct or wrong
X1 = ("Hey, you have won a car !!!!. Conrgratzz")
X2 = ("Dear applicant, Your CV has been recieved. Best regards")
X3 = ("You have received $1000000 to your account")
X4 = ("Join with our whatsapp group")
X5 = ("Kindly check the previous email. Kind Regards")

In [52]:
#To print the predictions
print(classifier.predict(cv.transform([X1])))
print(classifier.predict(cv.transform([X2])))
print(classifier.predict(cv.transform([X3])))
print(classifier.predict(cv.transform([X4])))
print(classifier.predict(cv.transform([X5])))

['spam']
['ham']
['spam']
['spam']
['ham']